# General
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
*.xlsx

# Server Configuration & Secrets
# server/database.properties

# Environment files (allow production config for client)
.env
*.local.env
client/.env.local

# Node / Client
node_modules/
dist/
dist-ssr/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.eslintcache
